<h1>Sign Up</h1>

<%=render partial: "application/errors", locals: {errors: @user.errors.full_messages} %><br>
<br>

<%=form_for @user, url: signup_path do |f| %>
    <%=f.label "Username"%>
    <%=f.text_field :username%>
    <%=f.label "Password"%>
    <%=f.password_field :password%>
    <%=f.label "Password Confirmation"%>
    <%=f.password_field :password_confirmation%>
    <%=f.submit "Sign up"%>
<%end%>
<br>
<%=link_to "Sign up with Facebook", '/auth/facebook', method: :post %>