<h1>New Product</h1>

<% @errors && @errors.each do |e| %>
    <li><i><%=e%></i></li>
<%end%><br>

<%=form_for @product do |f| %>
    <%=f.label "Product Name:" %>
    <%=f.text_field :name %>
    <%=f.submit "Add to my list" %>

<%end%>