<h1><%=@product.name%></h1>
<h3><%=@product.brand%></h3>

<%@product.solutions.each do |m|%>
    <li><%=m.ingredient%> - <%=m.description%></li>
<%end%><br>

<%=link_to "Edit this product", edit_product_path(@product) %><br>
<%=link_to "Delete this product", @product, method: :delete %>