<%if @product%>
  <h3><%=@product.name%></h3>
<%end%>

<%=render 'errors' %><br>

<%= form_for(@solution, url: form_url_helper(@product)) do |f|%>
    <%=f.label "Issue"%>
    <%=f.text_field(:issue)%>
    <%=f.label "Ingredient"%>
    <%=f.text_field(:ingredient)%>
    <%=f.label "Description"%>
    <%=f.text_area(:description)%>
    <%if !@product%>
      <%=f.label "Product"%>
      <%=f.collection_select(:product_id, @products, :id, :name) %>
    <%end%>
    <%=f.submit("Save")%>
  <%end%>